@import 'antd/dist/antd.css';
@import 'antd/dist/antd.dark.css';

/* .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
} */
.app{
  background: rgb(172, 170, 170);
}
.site-layout-sub-header-background {
  background: #141414;
}

.site-layout-background {
  background: #141414;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }
  [data-theme="light"] .site-layout-sub-header-background{
      background: #fff;
  }


